<div class="slidebar">
  <div class="top">
    <span class="logo">Dashbord</span>
  </div>
  <hr />
  <div class="center">
    <ul>
      <li [routerLink]="['dashboard']">
        <mat-icon>dashboard</mat-icon>
        <span>Dashbord</span>
      </li>
      <li [routerLink]="['user']">
        <mat-icon>person_outline</mat-icon>
        <span>Users</span>
      </li>
      <li [routerLink]="['project']">
        <mat-icon>work_outline</mat-icon>
        <span>Projects</span>
      </li>
      <li [routerLink]="['skill']">
        <mat-icon>person_outline</mat-icon>
        <span>Skills</span>
      </li>
      <li [routerLink]="['enroll']">
        <mat-icon>person_outline</mat-icon>
        <span>Ennrolls</span>
      </li>
    </ul>
  </div>
  <div class="bottom"></div>
</div>