<div fxLayoutAlign="center center" fxFlexFill style="padding: 10px;">
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Login</mat-toolbar>
    <form name="form" #f="ngForm" fxLayoutAlign="stretch" fxLayout="column" style="padding: 20px;">
      <mat-form-field>
        <input matInput placeholder="username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>