<div fxLayoutAlign="center center" fxFlexFill style="padding: 10px;">
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Update</mat-toolbar>
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
      style="padding: 20px;">
      <mat-form-field>
        <input matInput placeholder="firstname" name="firstname" [(ngModel)]="user.firstname" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder=" lastname" name="lastname" [(ngModel)]="user.lastname" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="username" name="username" [(ngModel)]="user.username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="email" name="email" [(ngModel)]="user.email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="role" name="role" [(ngModel)]="user.role" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </mat-card>
</div>