<div fxLayoutAlign="center center" fxFlexFill style="padding: 10px;">
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Register</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" style="padding: 20px;">
      <mat-form-field>
        <input matInput placeholder="firstname" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="lastname" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </mat-card>
</div>